body{
  font-family: roboto;
}

p{
  text-align: center;
}

.header-banner{
  background-color: rgba(239, 239, 239, 0.9);
}

#titre-header{
  color: red;
  font-weight: bold;
}

.nav-item{
  margin-right: 90px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
  text-decoration: none;
}

h2{
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 2px grey;
}

h2:sm{
  text-align: right;
  font-size: 35px;
}

#dropdow{
  display: grid;
  align-content: right;
}

#img-banner{
  margin-top: 30px;
  filter: blur(2px);
}

.parent{
  position: relative; 
  font-size: 24px; 
  text-align: center; 
}

.child{
  position: absolute;
  top: 330px;
}

.child-btn{ 
  font-size: 20px; 
  text-align: center;
  padding: 20px;
}

.child-h2{ 
  font-size: 70px; 
  text-align: center;
  padding-bottom: 50px;
}

.form-group{
  font-size: 15px;
}
.form-check{
  font-size: 15px;
}

h3{
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

#paulricard{
  background: linear-gradient(20deg, rgba(10,10,10,0.2), rgba(200,200,200,0.2)), url("images/paul-ricard.jpg");
  background-size: cover;
  padding: 150px;
  border:2px solid red;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: saturate(170%);

}

#lienricard:hover{
text-decoration: none;
}

h5{
  text-align: center;
  font-weight: bold;
}

.ham44{
  height: 350px;
  filter: grayscale(100%);
}
.ham44:hover{
  filter: none;
}

.vettel{
  height: 350px;
  filter: grayscale(100%);
}
.vettel:hover{
  filter: none;
}

.bianchi{
  height: 350px;
  filter: grayscale(100%);
}
.bianchi:hover{
  filter: none;
}

.ver33{
  height: 350px;
  filter: grayscale(100%);
}
.ver33:hover{
  filter: none;
}

.card{
  border: none;
}

.nletter{
  border: 1px solid black;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 100px;
}

.button{
  background-color: red;
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.footer{
  background-color: rgb(250, 250, 250);
  padding-top: 20px;
  display: flex; 
  justify-content: space-around;
  align-items: baseline;
  
}

.icon{
  font-size: 30px;
  margin-right: 50px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.fab{
  margin-left: 10px;
}

.fas{
  margin-left: 215px;
}

.fa-flag-checkered{
  margin-left: 410px;
}

